data/**
**/*.ipynb_checkpoints
**/*__pycache__
.vscode/
CLAUDE.md
.claude
**/*.so
results/
**/*compile_commands.json
.cache
**/*.dSYM
.sandbox
.DS_Store
.ipynb_checkpoints
PROJECT_LOG.md
RISKS.md
docs/
**/*iframe_figures
.coverage